/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-tab-body-wrapper {
  flex-grow: 1;
}
@import "~golden-layout/src/css/goldenlayout-base.css";
@import "~golden-layout/src/css/goldenlayout-light-theme.css";

body,
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.full-height {
  padding: 0px;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box; /*new*/
}
